@media screen and (max-width:768px){

  /* Headings */
  body{
    width:600px;
    margin:20px;
  }
  h4{
    color: #333333;
    font-size: 1.5rem;
    font-family: "Inconsolata";
    font-weight: 700;
  }

  h1{
    color: #333333;
    font-family: "Space Mono";
    font-size: 3rem;
    font-weight: 700;
    padding:30px 0 30px 0;
    width:600px;
  }

  img{
    width: 100%;
    margin:70px 0 30px 0;
  }

  p{
    color: #4F4F4F;
    font-family: "Space Mono";
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    margin-right: 20%
    width: 390px;
    box-sizing: border-box;
  }

  .container{
    margin: auto;
  }

  .btn{
    font-family: "Space Mono";
    font-size: 1rem;
    font-weight: 700;
    margin:40px 40px 0 0;
    height:100%;
  }

  .footer{
    color: #BDBDBD;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
  }

}

/* Desktop*/
body{
    margin: 50px 75px 50px 75px;
  }

  .container{
    align-items: center;
  }

  .image{
    margin:50px;
    width: 90%;
  }

  h1{
    font-family: "Space Mono";
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    margin:30px 0;
    width:600px;
  }

  h4{
    color: #333333;
    font-size: 1.5rem;
    font-family: "Inconsolata";
    font-weight: 700;
  }


  .message{
    color: #4F4F4F;
    font-family: "Space Mono";
    font-size: 1.5rem;
    font-weight: 400;
    line-height:2;
    margin-right: 38%;
    width: 390px;
    box-sizing: border-box;
  }

  .row{
    margin-top: 200px;
  }
  .btn{
    font-family: "Space Mono";
    font-size: 0.87rem;
    font-weight: 700;
    margin:40px 40px 0 0;
    height:68px;
  }

  .footer{
    color: #BDBDBD;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    margin: 200px 0 50px 0;
  }
